@model Gui.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h4>@ViewBag.StatusMessage</h4>
<div style="margin-left:20px;">
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        <p>Brugernavn: </p>@Html.TextBoxFor(x => x.Username, new { @class = "form-control" })<br />
        <p>Kodeord: </p>@Html.PasswordFor(x => x.Password, new { @class = "form-control" })<br />
        <button type="submit" class="btn btn-default">Log ind</button>
        <br /><br />     
    }
</div>
<p>Har du ikke en bruger endnu? @Html.ActionLink("Registrer Her", "Create", "Register")</p>