
@{
    ViewBag.Title = "Index";


}

<h2>Din profil blev oprettet.....</h2>
<h3>Returnere til forside om få sekunder.</h3>

<meta http-equiv="Refresh" content="5; url=@Url.Action("Index", "Home")" />