@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="https://pbs.twimg.com/profile_images/916502055002476547/glj4ckxm.jpg" alt="Hej" />

<address>
    <p>Drinkzy co.<br />
    Sofieandelsvej, EINS<br />
    <abbr title="Phone">P:</abbr>
    88 88 88 88</p>
</address>