<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDrinkService" />
        <binding name="BasicHttpBinding_IOrderLineService" />
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_ICustomerService" />
        <binding name="BasicHttpBinding_IIngredientService" />
        <binding name="BasicHttpBinding_IMenuCardService" />
        <binding name="BasicHttpBinding_IWalletService" />
        <binding name="BasicHttpBinding_IFavoritesService" />
        <binding name="BasicHttpBinding_IStorageService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISecurityService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAuthService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/DrinkService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDrinkService"
        contract="DrinkServiceRef.IDrinkService" name="BasicHttpBinding_IDrinkService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/OrderLineService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderLineService"
        contract="OrderLineServiceRef.IOrderLineService" name="BasicHttpBinding_IOrderLineService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/OrderService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
        contract="OrderServiceRef.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/UserService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserServiceRef.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CustomerService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
        contract="CustomerServiceRef.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/IngredientService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIngredientService"
        contract="IngredientServiceRef.IIngredientService" name="BasicHttpBinding_IIngredientService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/MenuCardService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuCardService"
        contract="MenucardServiceRef.IMenuCardService" name="BasicHttpBinding_IMenuCardService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/WalletService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWalletService"
        contract="WalletServiceRef.IWalletService" name="BasicHttpBinding_IWalletService" />
      <endpoint address="https://localhost:5679/SecureService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISecurityService" contract="ServiceSecurityRef.ISecurityService"
        name="WSHttpBinding_ISecurityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:5680/SecureAuthService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
        contract="AuthServiceRef.IAuthService" name="WSHttpBinding_IAuthService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/FavoritesService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFavoritesService"
        contract="FavoritServiceRef.IFavoritesService" name="BasicHttpBinding_IFavoritesService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/StorageService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorageService"
        contract="StorageServiceRef.IStorageService" name="BasicHttpBinding_IStorageService" />
    </client>
  </system.serviceModel>
</configuration>
